.add-event-log {
    width: 100%;
    padding: 20rpx;

    .add-event-header {
        display: flex;
        justify-content: space-between;
        font-size: 30rpx;
        margin-bottom: 20rpx;

        .confirm-btn {
            font-size: 30rpx;
            background: #ff85bc;
            color: #fff;
            padding: 6rpx 20rpx;
            border-radius: 30rpx;
        }
    }

    .add-event-content {
        padding: 40rpx;
    }
}